<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>navbar</nav></title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
     <link href="css/responsive.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>

</header>
<div class="banner">

</div>
     <div class="row">
        <div class="col-4">
            
        </div>
    <div class="col-8">
    <div class="navbar">
        <ul class="ul">
        <li><a href="../index.html" class="li">Home</a></li>
        <li><a href="Instructors.html" class="li">Instructors</a></li>
        <li><a href="News.html" class="li">News</a></li>
      <li><a href="Contact-us.html" class="li">Contact-us</a></li>
    </ul>
    </div>
    </div>	
    </div>	
    </div>
   <h1 class="banner"></h1>

        <div class="row">
    <div class="col-12">
        <div>
           <div class="search-bar">
<input type="text" placeholder="Search engine"><i style='font-size:24px;color: lightblue;' class='fab'>&#xf3eb;</i>
</div> 
        </div>
    </div>
        </div>


        <h1 class="H1">**NEWS**</h1>
           <div class="row">
              <div class="col-3 sherif-1">
                    <img src="../images/CA.jpg">
                    <h3 class="me-1"> **"Breakthrough in Quantum Computing Announced"**   </h3>
                  
               <p class="col">Scientists have unveiled a new quantum computing chip that promises to revolutionize data processing. This breakthrough could lead to faster computations and advancements in fields like AI, cryptography, and healthcare.</p>
                </div>
            <div class="col-3 sherif-1">
                   <img src="../images/SP.jpg">
         <h3 class="me-1">**"Solar Power Hits Record Efficiency Levels"** </h3>
          <p class="col">Researchers have developed a new solar panel technology that achieves 30% efficiency, a significant leap forward. This innovation could make solar energy more affordable and accessible worldwide.</p>
        </div>
        
        
<div class="col-3 sherif-1">
            <img src="../images/ai.jpg">
                    <h3 class="me-1"> **"AI-Powered Diagnostics Transform Healthcare"**</h3>
                    <p class="col">A new AI system has been developed to diagnose diseases with 95% accuracy. This technology is set to improve patient outcomes and reduce healthcare costs globally.
</p>

                </div>
    

            <div class="col-3 sherif-1">
                <img src="../images/SC.jpg">
                <h3 class="me-1">**"NASA Announces Mission to Explore Europa's Ocean"** </h3>
                <p class="col">NASA has revealed plans to send a spacecraft to Jupiter's moon, Europa, to study its subsurface ocean. This mission could provide clues about the potential for life beyond Earth.
</p>
        </div>
        </div>


<h1 class="banner">About Show</h1>

     <div class="row">
        <div class="col-4">
            
        </div>
    <div class="col-8">
    <div class="navbar">
        <ul class="ul">
        <li><a href=".html" class="li">Code of Ehics</a></li>
        <li><a href=".html" class="li">Terms and Condition</a></li>
        <li><a href=".html" class="li">Privacy policy</a></li>
      <li><a href=".html" class="li">Site map</a></li>
    </ul>
    </div>
    </div>  
    </div>  
    </div>
  

</body>
</html>